* {
  box-sizing: border-box;
  margin: 0 ;
}
body, html {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
.background-img {
  background-image: url("/assets/img/aeroplane-air-travel-aircraft-249581.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* Header */
.header-wrapper {
  background-color: #524338;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=80);
  -moz-opacity: 0.80;
  -khtml-opacity: 0.8;
  opacity: 0.8;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 8px 16px;
}
.header-content {
  font-family: 'Amatic SC', cursive;
  width: 100%;
}
.header-content-logo{
  float: left;
  font-size: 32px;
  font-family: 'Amatic SC', cursive;
  padding: 7px
}
.header-content-navigate {
  float: right;
}
.header-content-navigate ul {
  list-style: none;
  display: inline-block;
}
.header-content-navigate li {
  float: left;
}
.header-content-navigate li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 28px 17px;
  font-size: 25px;
}
.header-content .divider {
  margin-top: 32px;
  margin-bottom: 32px;
  height: 25px;
  width: 1px;
  margin-left: 17px;
  margin-right: 17px;
  background-color: white;
}
/* Content */
.content-area {
  position: relative;
  overflow: hidden;
  height: 100%;
  padding-top: 110px;
}

/* Footer */
.footer-wrapper {
  padding: 12px;
  font-size: 12px;
  position: relative;
  color: #EBE5D7;
  bottom: 0;
  background-color: #524338;
}
.footer-list {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  padding: 8px;
}
.footer-version-wrapper, .footer-copyright-wrapper, .footer-logo-wrapper  {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}
.footer-logo {
  font-family: 'Amatic SC', cursive;
  font-size: 20px;
}

/* Main content static */
.section-content-static {
  margin-top: 40px;
  padding: 35px 40px;
  font-family: 'Amatic SC', cursive;
  color: #524338;
  text-align: center;
}
.section-content-static h1 {
  font-size: 150px;
}
.section-content-static span {
  font-size: 40px;
}
.section-content-static a {
  color: #524338;
}

/** No CSS for this example */
.section-content-static  .btn-find {
  color: #524338;
  font-family: 'Amatic SC', cursive;
  background-color: transparent;
  padding-top: 15px;
}
.section-content-static .btn-find:hover {
  background-color: #524338;
  color: #EBE5D7;
}
.card {
  background-color: #524338;
  color: #EBE5D7;
  margin: 80px auto;
  width: 60%;
  opacity: 0.8;
  padding: 30px;
  -webkit-box-shadow: 0px 35px 44px -22px rgba(0,0,0,0.72)!important;
  -moz-box-shadow: 0px 35px 44px -22px rgba(0,0,0,0.72) !important;
  box-shadow: 0px 35px 44px -22px #1f181b !important;
}
.mat-card-header-text {
  margin: 0 !important;
}
.form-container form{
  display: flex;
  flex-direction: column;
}
.form-container form> * {
  width: 100%;
}
mat-form-field.mat-hint {
  color: #EBE5D7 !important;
}
.mat-hint, .mat-form-field-label {
  color: #EBE5D7 !important;
}
.mat-input-underline, .mat-form-field-underline {
  background-color: #EBE5D7;
}
.mat-input-element {
  caret-color: #EBE5D7;
}
.matInput {
  border-color: #EBE5D7;
}
mat-form-field.mat-focused input{
  border-color: #EBE5D7;
}
.btn-form-submit {
  float: right !important;
  width: 30% !important;
  margin: 30px 0 0 !important;
  color: #524338 !important;
}
.card .mat-card-title {
  font-size: 20px;
}
.mat-raised-button[disabled][disabled] {
  background-color: #EBE5D7;
  opacity: 0.7;
  cursor: not-allowed;
}
